@using Microsoft.AspNetCore.Identity
@using PluralSightBook.Web.Identity
@inject SignInManager<PluralSightBookIdentityUser> SignInManager
@inject UserManager<PluralSightBookIdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li><a asp-controller="Profile" asp-action="Profile">Profile</a></li>
    <li><a asp-controller="Friend" asp-action="List">Friends</a></li>
}