<h1>Profile</h1>
Welcome <asp:Literal ID="NameLiteral" />!
<p>
    Your favorite Pluralsight author's name is <asp:Literal ID="AuthorLiteral" runat="server" />.  Thanks for sharing!
</p>
<a asp-action="EditProfile" asp-controller="Profile">Edit Profile</a>