@model ProfileViewModel

<h1>Profile</h1>
Welcome @(Model.Name == null ? "" : Model.Name)!
<p>
    Your favorite Pluralsight author's name is @(Model.FavoriteAuthor == null ? "" : Model.FavoriteAuthor).  Thanks for sharing!
</p>
<a asp-action="EditProfile" asp-controller="Profile">Edit Profile</a>