@{
    ViewData["Title"] = "Home Page";
}

<h2>
    PluralsightBook helps you connect and share with other Pluralsight students
</h2>
<p>
    <a asp-controller="Account" asp-action="Register">Sign up now</a> to join <strong>trillions</strong> of other PluralsightBook students online now!
</p>
<p>
    Once you're a member, you can pay to send value-less gifts to others and see advertisements we've sold based on information you've given us!
</p>